<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" type="image/svg+xml" href="/robot-icon.svg" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Robot Manager</title>
    </head>
    <body>
        <div id="root"></div>
        <script type="module">
            import RefreshRuntime from "http://localhost:5173/@react-refresh";
            RefreshRuntime.injectIntoGlobalHook(window);
            window.$RefreshReg$ = () => {};
            window.$RefreshSig$ = () => (type) => type;
            window.__vite_plugin_react_preamble_installed__ = true;
        </script>
        <script type="module" src="http://localhost:5173/@vite/client"></script>
        <script type="module" src="http://localhost:5173/src/main.tsx"></script>

        <!-- <link rel="stylesheet" href="/assets/{{ manifest['main.js'].css }}" />
        <script
            type="module"
            src="/assets/{{ manifest['main.js'].file }}"
        ></script> -->
    </body>
</html>
